<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <call_for_price>
            <call_for_price>
                <enabled>0</enabled>
                <telephone>Call</telephone>
            </call_for_price>
        </call_for_price>
    </default>
</config>
