<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="xigen" sortOrder="999" translate="label">
            <label>Xigen</label>
        </tab>
        <section id="call_for_price" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Call For Price</label>
            <tab>xigen</tab>
            <resource>Xigen_CallForPrice::config_xigen_callforprice</resource>
            <group id="call_for_price" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Call For Price</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="telephone" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Display Text</label>
                    <comment>Display this text instead of price</comment>
                </field>
            </group>
        </section>
    </system>
</config>
